#date {
    text-align: right
}
body {
    background-color: #f0ffff; 
}
#root {
    font-style: italic;
    font-size: 16pt;

    display: inline-block;
    vertical-align: top;
}
#text-container {
    font-style: normal;
    font-size: 12pt;
    text-align: left;
    margin: 20px;
    padding: 40px;

    width: 450px;
    display: inline-block;
}