@import url("https://fonts.googleapis.com/css?family=Shrikhand");

body {
    background: #f0ffff !important; 
}
h1 {
    font-family: 'Shrikhand', cursive;
}
.nav-link {
    font-size: 14pt;
}
#Titles {
    cursor: pointer;
}