@import url("https://fonts.googleapis.com/css?family=Shrikhand");

body {
    background-color: #f0ffff !important; 
}
h1 {
    font-family: 'Shrikhand', cursive; 
    font-size: 30pt;
}
.justify-content-md-center {
    font-size: 14pt;
    font-family: 'Segoe UI';
}
#titles-container {
    font-style: italic;
    font-size: 13pt;
    font-family: 'Segoe UI';
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
    margin-top: 5%;
    width: 50%;
    cursor:pointer;
}
#text-container {
    font-style: normal;
    font-family: 'Segoe UI';
    font-size: 12pt;
    text-align: center;
    white-space: normal;
    width: 50%;
    margin-top: 5%;
    margin-right: 10%;
    width: 400px;
    display: inline-block;
    word-spacing: 5px;
}