@import url("https://fonts.googleapis.com/css?family=Shrikhand");

body {
    margin: 0;
    background-color: #f0ffff; 
}
#main-heading {
    font-family: 'Shrikhand', cursive; 
    font-size: 30pt;
    text-align: center;
    margin-top: 0%;
    position: absolute top;
}
.header {
    background-color: #f0ffff;
}
.navbar input[type=text] {
    position: relative;
    height: 40px;
    width: calc(100% - 80px);
    margin-top: 0%;
    border: none;
    margin-right: 7%;
    font-family: 'Segoe UI';
    font-size: 14pt;
}
.topnav a:hover {
    background-color: #f0ffff;
    color: red;
}
.topnav a {
    display: block;
    position: relative;
    color: black;
    float: left;
    padding: 10px 5px;
    padding-left: 30;
    padding-right: 30;
    text-decoration: none;
    font-family: 'Segoe UI';
    font-size: 14pt;
}
#nav-search-button {
    position: relative;
    display: inline-block;
    left: 80px;
    font-family: 'Segoe UI';
    font-size: 14pt;
    letter-spacing: 0.5pt;
    line-height: 1.8;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    color: black;
    background-color: #ff7f50;
    text-shadow: -1px 1px #ff6450;
    border: none;
    width: 80px;
    height: 40px;
}

#root {
    font-style: italic;
    font-size: 14pt;
    font-family: 'Segoe UI';
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
    margin-top: 5%;
}
#text-container {
    font-style: normal;
    font-family: 'Segoe UI';
    font-size: 12pt;
    text-align: center;
    white-space: normal;
    float: right;
    margin-top: 5%;
    margin-right: 10%;
    width: 400px;
    display: block;
    margin: 0;
    word-spacing: 5px;
}